* {
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

h1 {
    all: unset;
}

::selection {
    color: unset;
    background: #F4C072;
}

::-moz-selection {
    color: unset;
    background: #F4C072;
}

input, textarea, button, select, div, span, nav, li, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link, a:visited,  a:hover, a:active {
    color: unset;
    text-decoration: none;
}

body.stop-transitions * {
    transition: none !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section {
    padding: 40px 0;
}

.topic {
    position: relative;
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 30px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #000000;
}

.slick-slider {
    position: relative;
    height: fit-content;
}

.slick-track {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slick-slide {
    opacity: 0;
    transition: all 1s ease 0s;
    visibility: hidden;
}

.slick-slide.slick-active {
    opacity: 1;
    visibility: visible;
}

.slick-arrow {
    position: absolute;
    margin: -30px 0;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    font-size: 0;
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    opacity: 70%;
}

.slick-arrow:hover {
    opacity: 100%;
    cursor: pointer;
}

.slick-arrow.slick-prev {
    left: -60px;
    background: url("../../img/prev-arrow.svg") 0 0 / 100% no-repeat;
    border: none;
}

.slick-arrow.slick-next {
    right: -60px;
    background: url("../../img/next-arrow.svg") 0 0 / 100% no-repeat;
    border: none;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.slick-dots li {
    all: unset;
    list-style: none;
    margin: 0 10px;
}

.slick-dots li.slick-active button {
    background-color: #F44F38;
}

.slick-dots li button {
    all: unset;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #F4A938;
    border-radius: 50%;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .slick-arrow.slick-prev {
        left: -20px;
    }

    .slick-arrow.slick-next {
        right: -20px;
    }
}

@media (max-width: 1199px) {
    .topic {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .slick-arrow {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 575px) {
    .slick-arrow.slick-prev {
        left: 5px;
    }

    .slick-arrow.slick-next {
        right: 5px;
    }
}

@media (max-width: 475px) {
    body {
        gap: 0;
    }

    .topic {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .slick-arrow {
        width: 40px;
        height: 40px;
    }

    .slick-dots {
        margin-top: 20px;
    }
}