<section id="benefits" th:fragment="benefits">
    <div class="container">

        <div class="topic">Our benefits</div>

        <div class="benefits-slider">
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Bright beauty</div>
                <div class="description">It's hard to imagine that people can create such beauty with their hands</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Professional team</div>
                <div class="description">Our professional team will help you in everything</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Bright beauty</div>
                <div class="description">It's hard to imagine that people can create such beauty with their hands</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Professional team</div>
                <div class="description">Our professional team will help you in everything</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Bright beauty</div>
                <div class="description">It's hard to imagine that people can create such beauty with their hands</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Professional team</div>
                <div class="description">Our professional team will help you in everything</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/sun-icon.svg" alt="sun-icon"></div>
                <div class="name">Bright beauty</div>
                <div class="description">It's hard to imagine that people can create such beauty with their hands</div>
            </div>
            <div class="rectangle">
                <div class="icon"><img src="../../../resources/img/landing/people-icon.svg" alt="people-icon"></div>
                <div class="name">Professional team</div>
                <div class="description">Our professional team will help you in everything</div>
            </div>
        </div>

    </div>
</section>