<section id="comments" th:fragment="comments">
    <div class="container">

        <div class="topic">Our clients are quite happy</div>

        <div class="comments-slider">
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Taras Shevchenko</div>
                <div class="comment-text">Each man on earth has his own fate, Each one his highway wide: This one builds up, that one lays waste, And that casts greedy eyes O’er all the globe, to find somewhere A land not yet enslaved, Which he could conquer and then bear With him into the grave.</div>
            </div>
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Taras Shevchenko</div>
                <div class="comment-text">Each man on earth has his own fate, Each one his highway wide: This one builds up, that one lays waste...</div>
            </div>
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Taras Shevchenko</div>
                <div class="comment-text">Each man on earth has his own fate, Each one his highway wide: This one builds up, that one lays waste, And that casts greedy eyes O’er all the globe, to find somewhere A land not yet enslaved, Which he could conquer and then bear With him into the grave.</div>
            </div>
            <div class="rectangle">
                <div class="photo"><img src="../../../resources/img/landing/commenter-photo.png" alt="commenter-photo"></div>
                <div class="name">Taras Shevchenko</div>
                <div class="comment-text">Each man on earth has his own fate, Each one his highway wide: This one builds up, that one lays waste, And that casts greedy eyes O’er all the globe, to find somewhere A land not yet enslaved, Which he could conquer and then bear With him into the grave.</div>
            </div>
        </div>

    </div>
</section>