<section id="contacts" th:fragment="contacts">
    <div class="container">

        <div class="topic">We are always in touch</div>

        <div class="rectangle">
            <a href="https://www.youtube.com/" target="_blank"><div class="item">
                <div class="icon"><img src="../../../resources/img/landing/youtube-icon.svg" alt="youtube-icon"></div>
                <div class="username">Beauty</div>
            </div></a>
            <a href="https://www.instagram.com/" target="_blank"><div class="item">
                <div class="icon"><img src="../../../resources/img/landing/instagram-icon.svg" alt="instagram-icon"></div>
                <div class="username">@beauty</div>
            </div></a>
            <a href="https://www.tiktok.com/" target="_blank"><div class="item">
                <div class="icon"><img src="../../../resources/img/landing/tiktok-icon.svg" alt="tiktok-icon"></div>
                <div class="username">@beauty</div>
            </div></a>
            <a href="https://www.facebook.com/" target="_blank"><div class="item">
                <div class="icon"><img src="../../../resources/img/landing/facebook-icon.svg" alt="facebook-icon"></div>
                <div class="username">@beauty</div>
            </div></a>
            <a href="mailto:startzno@i.ua"><div class="item">
                <div class="icon"><img src="../../../resources/img/landing/mail-icon.svg" alt="mail-icon"></div>
                <div class="username">beauty@i.ua</div>
            </div></a>
            <a href="tel:+380991111111"><div class="item">
                <div class="icon"><img src="../../../resources/img/landing/phone-icon.svg" alt="phone-icon"></div>
                <div class="username">099-111-11-11</div>
            </div></a>
        </div>

    </div>
</section>