<section id="stylists" th:fragment="stylists">
    <div class="container">

        <div class="topic">Professional stylists</div>

        <div class="stylists-slider">
            <div class="item">
                <div class="rectangle rectangle-1">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/hair-stylist.png" alt="photo"></div>
                        <div class="read-more-icon" title="Read more"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Ivan Ivanov</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Ivan Ivanov</div>
                        <ul class="about-stylist">
                            <li>He styled hair for Elizabeth Taylor</li>
                            <li>He has several famous hair salons across the US</li>
                            <li>Age: 30</li>
                            <li>He is most-known now for his vegan hair product line Fekkai</li>
                            <li>His haircuts are known for costing anywhere between $900 to $2,000</li>
                            <li>Ivan Ivanov started his career on TLC’s What Not To Wear, a show where contestants could get a makeover that included a new wardrobe and hairstyle.</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Hair Stylist</div>
            </div>
            <div class="item">
                <div class="rectangle  rectangle-2">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/masseur-stylist.png" alt="photo"></div>
                        <div class="read-more-icon" title="Read more"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Yana April</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Yana April</div>
                        <ul class="about-stylist">
                            <li>She styled hair for Elizabeth Taylor</li>
                            <li>She has several famous hair salons across the US</li>
                            <li>Age: 28</li>
                            <li>She is most-known now for his vegan hair product line Fekkai</li>
                            <li>Her haircuts are known for costing anywhere between $900 to $2,000</li>
                            <li>Yana April started her career on TLC’s What Not To Wear, a show where contestants could get a makeover that included a new wardrobe and hairstyle.</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Masseur</div>
            </div>
            <div class="item">
                <div class="rectangle rectangle-3">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/beauty-therapist.png" alt="photo"></div>
                        <div class="read-more-icon" title="Read more"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Petro Petrenko</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Petro Petrenko</div>
                        <ul class="about-stylist">
                            <li>He styled hair for Elizabeth Taylor</li>
                            <li>He has several famous hair salons across the US</li>
                            <li>Age: 30</li>
                            <li>He is most-known now for his vegan hair product line Fekkai</li>
                            <li>His haircuts are known for costing anywhere between $900 to $2,000</li>
                            <li>Petro Petrenko started his career on TLC’s What Not To Wear, a show where contestants could get a makeover that included a new wardrobe and hairstyle.</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Beauty Therapist</div>
            </div>
            <div class="item">
                <div class="rectangle rectangle-1">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/hair-stylist.png" alt="photo"></div>
                        <div class="read-more-icon" title="Read more"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Ivan Ivanov</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Ivan Ivanov</div>
                        <ul class="about-stylist">
                            <li>He styled hair for Elizabeth Taylor</li>
                            <li>He has several famous hair salons across the US</li>
                            <li>Age: 30</li>
                            <li>He is most-known now for his vegan hair product line Fekkai</li>
                            <li>His haircuts are known for costing anywhere between $900 to $2,000</li>
                            <li>Ivan Ivanov started his career on TLC’s What Not To Wear, a show where contestants could get a makeover that included a new wardrobe and hairstyle.</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Hair Stylist</div>
            </div>
            <div class="item">
                <div class="rectangle  rectangle-2">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/masseur-stylist.png" alt="photo"></div>
                        <div class="read-more-icon" title="Read more"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Yana April</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Yana April</div>
                        <ul class="about-stylist">
                            <li>She styled hair for Elizabeth Taylor</li>
                            <li>She has several famous hair salons across the US</li>
                            <li>Age: 28</li>
                            <li>She is most-known now for his vegan hair product line Fekkai</li>
                            <li>Her haircuts are known for costing anywhere between $900 to $2,000</li>
                            <li>Yana April started her career on TLC’s What Not To Wear, a show where contestants could get a makeover that included a new wardrobe and hairstyle.</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Masseur</div>
            </div>
            <div class="item">
                <div class="rectangle rectangle-3">
                    <div class="front">
                        <div class="photo"><img src="../../../resources/img/landing/beauty-therapist.png" alt="photo"></div>
                        <div class="read-more-icon" title="Read more"><img src="../../../resources/img/landing/readmore-icon.svg" alt="readmore-icon"></div>
                        <a href="https://www.instagram.com/" target="_blank"><div class="name">Petro Petrenko</div></a>
                    </div>
                    <div class="back">
                        <div class="person-icon" title="Назад до профілю"><img src="../../../resources/img/landing/person-icon.svg" alt="person-icon"></div>
                        <div class="name">Petro Petrenko</div>
                        <ul class="about-stylist">
                            <li>He styled hair for Elizabeth Taylor</li>
                            <li>He has several famous hair salons across the US</li>
                            <li>Age: 30</li>
                            <li>He is most-known now for his vegan hair product line Fekkai</li>
                            <li>His haircuts are known for costing anywhere between $900 to $2,000</li>
                            <li>Petro Petrenko started his career on TLC’s What Not To Wear, a show where contestants could get a makeover that included a new wardrobe and hairstyle.</li>
                        </ul>
                        <a href="https://www.instagram.com/" target="_blank"><div class="instagram-link">Instagram ↗</div></a>
                    </div>
                </div>
                <div class="subject">Beauty Therapist</div>
            </div>
        </div>

    </div>
</section>