<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../resources/css/landing/common.css">
    <link rel="stylesheet" href="../../resources/css/register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">
</head>

<body>

<div class="container">

    <div class="error-message" id="errorMessage" th:text="${error}"/>

    <div class="registration-fields">

        <form th:method="POST" th:action="@{/register}" th:object="${user}">

            <div>
                <label for="name">Enter name: </label>
                <input type="text" th:field="*{name}" id="name">
            </div>

            <div>
                <label for="surname">Enter surname: </label>
                <input type="text" th:field="*{surname}" id="surname">
            </div>

            <div>
                <label for="email">Enter email: </label>
                <input type="text" th:field="*{email}" id="email">
            </div>

            <div>
                <label for="password">Enter password: </label>
                <input type="password" th:field="*{password}" id="password">
            </div>

            <input class="register-btn" type="submit" value="Register">

        </form>

    </div>

    <div class="main-page-btn">
        <a href="main">Back to main page</a>
    </div>

</div>

</body>
</html>