<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Staff list</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../resources/css/landing/common.css">
    <link rel="stylesheet" href="../../resources/css/staff_list.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700">
</head>

<body>

<div class="container">

    <div class="choose-service-block">
        <form method="post" action="staffList">
            <select name="service_id">
                <tr th:each="service: ${services}">
                    <option th:value="${service.id}">
                        <td th:text="${service.name}"></td>
                    </option>
                </tr>
            </select>

            <select name="sort_by">
                <tr th:each="sort_by: ${sortBy}">
                    <option th:value="${sort_by.callback}">
                        <td th:text="${sort_by.name}"></td>
                    </option>
                </tr>
            </select>
            <input type="submit" value="Get Staff List">
        </form>
    </div>


    <tr th:each="master: ${masters}">
        <td class="master-item" th:text="${master.name}"></td>
        <br>
    </tr>


    <div class="main-page-btn">
        <a href="main">Back to main page</a>
    </div>

</div>

</body>

</html>
